{% extends "admin/base.html" %}
{% load static %}

{% block title %}Administration La Résilience{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <i class="fas fa-hotel" style="margin-right: 10px;"></i> Hôtel La Résilience
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/admin_theme.css' %}">
{% endblock %}